.am-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 45px;
    // background-color: #108ee9;
    background-color: #990000;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    color: rgb(0, 0, 0);
  }
  .am-navbar-light {
    background-color: #990000;
    color: #fff;
  }
  .am-navbar-light .am-navbar-title {
    color: #fff;
  }

  .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 15px 0;
  }
.subtitle {
    color: #888;
    font-size: 14px;
    padding: 15px 0 9px 15px;
  }
.notsquaregrid .amgridicon {
    width: 40px;
    height: 60px;
}
.mycarousel {
    background: #fff;
  }
.mycarousel a {
    display: inline-block;
    width: 100%;
    margin: 0; padding: 0;
}
.mycarousel a img {
    width: 100%;
    vertical-align: top;
}
.mycarousel .v-item {
    height: 0.72rem;
    line-height: 0.72rem;
    padding-left: 0.2rem;
}
.subtitle1{
    color: #888;
    font-size: .28rem;
    padding: 30px 0 18px 0;
  }

// .mydrawer {
//     position: relative;
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
//   }
// .mydrawer .am-drawer-sidebar {
//     background-color: #fff;
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
//   }
// .mydrawer .am-drawer-sidebar .am-list {
//     width: 300px;
//     padding: 0;
//   }



  .my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
  }