.nav{
    display: flex;
    background-color: "#ffccee"
}
.am-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 45px;
    background-color: #108ee9;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    color: #fff;
  }